backend/app/projects/best_practice_search/민간 활용 우수사례 검색 서비스_0303 (1).json
{
  "name": "민간 활용 우수사례 검색 서비스_0303",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. Google API 키 받는 방법:\n1) https://console.cloud.google.com 접속\n프로젝트 생성\n2) \"API 및 서비스\" → \"라이브러리\"\n3) \"Custom Search API\" 검색 후 사용 설정\n4) \"사용자 인증 정보\" → \"API 키 만들기\"\n5) 생성된 API 키 복사\n\n## 2. 검색 엔진 ID(cx) 받는 방법:\n1) https://programmablesearchengine.google.com 접속\n2) \"시작하기\" 또는 \"새 검색 엔진\"\n3) 검색할 사이트 설정 (전체 웹 검색 가능)\n4) 생성 후 \"검색 엔진 ID\" 복사\n\n## 3.SerpAPI 받는 방법(확정)\n1) https://serpapi.com 접속\n2) 무료 계정 생성 (매월 100건 무료)\n3) Dashboard에서 API 키 복사 ",
        "height": 464,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -320
      ],
      "id": "bbe68ea5-00a1-4874-bcdd-174bf05c881a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Google API 키\n- AIzaSyBnXyZ6yVlIxlN6HXNJWJrC1qjpCvob3bs\n## 검색 엔진  ID\n- f6be7dd9c495c447e\n\n## Serpapi 키\n- c584aa3b96498859a53d1495c98dd99d5700fdc2fa8fb784a34d33d395a7d041",
        "height": 256,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -112
      ],
      "id": "058c7d1b-4047-4b4d-8a08-19f6a24351e1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "page-001",
              "name": "startPositions",
              "value": "={{ [0, 10, 20] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "4c92d65d-9185-43d0-8752-15649d8fa385",
      "name": "페이지 설정1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        208
      ],
      "notes": "3페이지 가져오기 (0, 10, 20)"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_news"
            },
            {
              "name": "q",
              "value": "={{ $('데이터 입력 설정').item.json.agencyName }}, {{ $('데이터 입력 설정').item.json.searchQuery }}"
            },
            {
              "name": "api_key",
              "value": "={{ $('데이터 입력 설정').item.json.serpApiKey }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "={{ $json.start }}"
            },
            {
              "name": "gl",
              "value": "kr"
            },
            {
              "name": "hl",
              "value": "ko"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1184,
        208
      ],
      "id": "0eccc797-e1e8-44f5-bd40-6f55017bd3ec",
      "name": "구글 검색 (페이지별)1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 검색 결과 목록을 검토하고, {{ $json.agencyName }} 기관의 민간 활용 사례로 적합한 항목만 필터링해주세요.\n\n검색 결과:\n{{ $json.searchResults }}\n\n검토 기준:\n1) 기관의 데이터를 활용한 사례이면서, 본인 기관({{ $json.agencyName }})의 사례가 아닌 경우:\n   - 민간 또는 타기관에서 {{ $json.agencyName }}의 데이터를 활용한 앱/웹 서비스 개발\n   - 특허 개발\n   - 논문 작성 사례\n   - {{ $json.agencyName }}는 데이터 제공 등의 지원 노력이 있어야 함\n\n2) 실적 인정 기간 내 포함 여부:\n   - 평가 기간: 2024년 9월 1일 ~ 2025년 10월 31일\n   - 앱/웹 서비스: 평가 시점에 미운영 시 인정 불가\n   - 특허: 출원, 등록일자 기준\n   - 논문: 승인, 출판일자 기준\n\n적합한 사례만 JSON 배열 형식으로 반환해주세요. 반드시 다음 형식을 따르세요:\n[\n  {\n    \"우수사례명\": \"사례 제목\",\n    \"우수사례_내용\": \"상세 설명 (어떤 서비스인지, 무엇을 했는지)\",\n    \"활용_데이터\": \"사용된 {{ $json.agencyName }} 데이터명\",\n    \"기관_지원_노력\": \"{{ $json.agencyName }}의 지원 내용\",\n    \"사례_유형\": \"앱/웹\", \"특허\", 또는 \"논문\" 중 하나,\n    \"날짜\": \"YYYY-MM-DD 형식\",\n    \"출처_URL\": \"원본 링크\"\n  }\n]\n\n중요: 적합한 사례가 없으면 빈 배열 []을 반환하세요.",
        "options": {
          "systemMessage": "당신은 공공데이터 활용 우수사례를 평가하는 전문가입니다. 주어진 기준에 따라 정확하게 사례를 필터링하고 분류해주세요. 반드시 유효한 JSON 배열 형식으로만 응답하세요. 코드 블록(```)을 사용하지 마세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2080,
        208
      ],
      "id": "1a9ea4a6-4946-4f68-9882-7071ca38ff86",
      "name": "AI Agent 필터링1"
    },
    {
      "parameters": {
        "jsCode": "// JSON 파싱1 - AI Agent 출력(여러 아이템)의 output을 전부 파싱해서 합치기\n// - 각 item.json.output 에 들어있는 \"문자열 JSON 배열\" 파싱\n// - ```json ...``` 코드펜스 제거\n// - JSON 외 잡문이 섞여도 첫 JSON 배열/객체를 브레이스 매칭으로 추출 시도\n// - 결과 0개여도 최소 1개 아이템을 반환해 No output 방지(옵션)\n\n// =======================\n// 유틸\n// =======================\nfunction asText(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  try { return JSON.stringify(v); } catch (e) { return String(v); }\n}\n\nfunction stripCodeFences(s) {\n  return String(s || '')\n    .replace(/```(?:json)?\\s*/gi, '')\n    .replace(/```/g, '')\n    .trim();\n}\n\n// 텍스트 안에서 첫 JSON 배열/객체를 브레이스/브라켓 매칭으로 뽑아냄\nfunction extractFirstJson(text) {\n  const s = String(text || '');\n  const startArr = s.indexOf('[');\n  const startObj = s.indexOf('{');\n\n  // 배열/객체 중 더 먼저 나오는 시작점 선택\n  let start = -1;\n  let mode = '';\n  if (startArr >= 0 && startObj >= 0) {\n    start = Math.min(startArr, startObj);\n    mode = (start === startArr) ? 'arr' : 'obj';\n  } else if (startArr >= 0) {\n    start = startArr; mode = 'arr';\n  } else if (startObj >= 0) {\n    start = startObj; mode = 'obj';\n  } else {\n    return '';\n  }\n\n  let depth = 0;\n  let inString = false;\n  let escape = false;\n\n  const openChar = (mode === 'arr') ? '[' : '{';\n  const closeChar = (mode === 'arr') ? ']' : '}';\n\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n\n    if (inString) {\n      if (escape) {\n        escape = false;\n      } else if (ch === '\\\\') {\n        escape = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    } else {\n      if (ch === '\"') {\n        inString = true;\n        continue;\n      }\n      if (ch === openChar) depth++;\n      if (ch === closeChar) depth--;\n\n      if (depth === 0 && i >= start) {\n        return s.slice(start, i + 1);\n      }\n    }\n  }\n\n  return '';\n}\n\nfunction tryParseJson(s) {\n  const t = stripCodeFences(asText(s)).trim();\n  if (!t) return null;\n\n  // 1) 그대로 JSON 파싱 시도\n  try { return JSON.parse(t); } catch (e) {}\n\n  // 2) 텍스트에서 첫 JSON 덩어리 추출 후 파싱\n  const extracted = extractFirstJson(t);\n  if (extracted) {\n    try { return JSON.parse(extracted); } catch (e) {}\n  }\n\n  return null;\n}\n\n// 중복 제거 키(출처_URL 우선, 없으면 우수사례명+날짜)\nfunction makeKey(o) {\n  const url = (o && o['출처_URL']) ? String(o['출처_URL']).trim() : '';\n  const name = (o && o['우수사례명']) ? String(o['우수사례명']).trim() : '';\n  const date = (o && o['날짜']) ? String(o['날짜']).trim() : '';\n  return url || `${name}__${date}`;\n}\n\n// =======================\n// 메인\n// =======================\nconst inputItems = $input.all();\nlet merged = [];\n\nfor (let idx = 0; idx < inputItems.length; idx++) {\n  const j = inputItems[idx].json || {};\n  const raw = j.output ?? j.text ?? j.result ?? j;\n\n  const parsed = tryParseJson(raw);\n\n  if (Array.isArray(parsed)) {\n    merged.push(...parsed);\n  } else if (parsed && typeof parsed === 'object') {\n    merged.push(parsed);\n  } else {\n    // 파싱 실패 시 스킵(원하면 로그)\n    console.log(`[JSON 파싱1] item ${idx}: parse failed`);\n  }\n}\n\n// 빈/이상치 제거(객체만 남김)\nmerged = merged.filter(v => v && typeof v === 'object' && !Array.isArray(v));\n\n// 중복 제거\nconst seen = new Set();\nconst uniq = [];\nfor (const o of merged) {\n  const k = makeKey(o);\n  if (!k) continue;\n  if (seen.has(k)) continue;\n  seen.add(k);\n  uniq.push(o);\n}\n\n// ✅ No output 방지: 결과가 0이면 더미 1개 내보내기(원치 않으면 이 블록 삭제)\nif (uniq.length === 0) {\n  return [{\n    json: {\n      _noResults: true,\n      기관명: $('데이터 입력 설정').first().json.agencyName,\n      message: 'AI Agent 결과에서 적합 사례가 없거나 JSON 파싱에 실패했습니다.'\n    }\n  }];\n}\n\n// 각 항목을 개별 아이템으로 반환\nreturn uniq.map((item, index) => ({\n  json: {\n    일련번호: index + 1,\n    기관명: $('데이터 입력 설정').first().json.agencyName,\n    ...item,\n  }\n}));"
      },
      "id": "4a9601ad-766a-47da-a67c-420114b2d3d0",
      "name": "JSON 파싱1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        208
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2080,
        400
      ],
      "id": "3c229d63-5749-4bc0-b77f-04dda9da3f09",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "2QPudyE2hbqnh8C2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// startPositions 배열을 아이템 목록으로 펼치기\nconst base = $input.first().json;\nconst starts = base.startPositions || [0, 10, 20];\n\nreturn starts.map((s) => ({\n  json: {\n    ...base,\n    start: s,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        208
      ],
      "id": "edb3ac92-37f7-40ba-aa7b-7346cd5ff633",
      "name": "배열 정리1"
    },
    {
      "parameters": {
        "jsCode": "// SerpAPI 검색 결과 파싱\nconst serpResults = $input.first().json;\n\n// google_news 엔진: news_results / google 엔진: organic_results\nconst items = serpResults.news_results \n  || serpResults.organic_results \n  || serpResults.top_stories \n  || [];\n\nconsole.log('결과 필드:', \n  serpResults.news_results ? 'news_results' :\n  serpResults.organic_results ? 'organic_results' :\n  serpResults.top_stories ? 'top_stories' : '없음'\n);\nconsole.log('결과 수:', items.length);\n\nreturn items.map(item => ({\n  json: {\n    title: item.title || '',\n    link: item.link || item.url || '',\n    snippet: item.snippet || item.description || '',\n    date: item.date || '',\n    source: '구글'\n  }\n}));"
      },
      "id": "6e906724-cc14-4faa-91db-1f8e11363adf",
      "name": "구글 결과 파싱1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// 검색 결과에서 중복 제거\nconst items = $input.all();\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // URL 또는 제목을 기준으로 중복 체크\n  const link = data.link || '';\n  const title = data.title || '';\n  \n  // URL이 있으면 URL로 중복 체크, 없으면 제목으로 체크\n  const identifier = link || title;\n  \n  if (identifier && !seen.has(identifier)) {\n    seen.add(identifier);\n    uniqueItems.push(item);\n  }\n}\n\nconsole.log(`전체 ${items.length}개 중 ${uniqueItems.length}개의 고유 결과 발견`);\nconsole.log(`${items.length - uniqueItems.length}개의 중복 제거됨`);\n\nreturn uniqueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        208
      ],
      "id": "31a0abdf-bef0-4ace-8dce-65311bb7a759",
      "name": "중복 제거1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-001",
              "name": "searchResults",
              "value": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
              "type": "string"
            },
            {
              "id": "parse-002",
              "name": "agencyName",
              "value": "={{ $('데이터 입력 설정').first().json.agencyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8daabcd6-f545-4773-920a-1e5609880f3e",
      "name": "AI 입력 준비1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-001",
              "name": "agencyName",
              "value": "={{ $json['기관명'] }}",
              "type": "string"
            },
            {
              "id": "input-002",
              "name": "agencyWebsite",
              "value": "={{ $json['기관 홈페이지 URL'] }}",
              "type": "string"
            },
            {
              "id": "input-003",
              "name": "searchQuery",
              "value": "={{ $json['검색어'] }}",
              "type": "string"
            },
            {
              "id": "input-004",
              "name": "serpApiKey",
              "value": "={{ $json['SerpAPI 키'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "069de286-f73f-442a-9407-62888dad7a4c",
      "name": "데이터 입력 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        208
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $json['기관명'] }}_민간활용 우수사례"
        }
      },
      "id": "b1d1c154-5061-4a08-b669-353d1c00fa9d",
      "name": "엑셀 파일 생성",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2656,
        208
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "best_practice_search",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        272,
        208
      ],
      "id": "ddac6afd-5de0-4fb6-9255-92c561dd3b1f",
      "name": "Webhook",
      "webhookId": "여기에-webhook-경로"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook').first().json;\nconst body = webhook.body || webhook;\n\nreturn [{\n  json: {\n    tracking_id: body.tracking_id || \"\"\n  },\n  binary: $input.item.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        208
      ],
      "id": "0078f214-0ee6-4e48-8e5e-83d5842941b0",
      "name": "결과 준비"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://backend:8000/api/webhooks/n8n/upload/{{ $json.tracking_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Callback-Secret",
              "value": "tucon-n8n"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3088,
        208
      ],
      "id": "7ff510a8-dc4f-415c-adba-9645a0aee4f7",
      "name": "파일 업로드"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/webhooks/n8n/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Callback-Secret",
              "value": "tucon-n8n"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"execution_id\": \"{{ $('결과 준비').first().json.tracking_id }}\",\n  \"status\":\"completed\",\n  \"result_data\": {\n    \"download_url\": \"{{ $json.download_url }}\",\n    \"filename\": \"{{      $json.filename }}\",\n    \"size\": {{ $json.size || 0 }},\n    \"message\": \"작업 완료\"\n  },\n  \"finished_at\":   \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3312,
        208
      ],
      "id": "f19d815c-d932-4dbf-8217-ec6090bfc891",
      "name": "콜백 전송"
    },
    {
      "parameters": {
        "path": "414158c5-d65f-4422-a6f4-3fa15b883d0b",
        "formTitle": "민간 활용 우수사례 검색 서비스",
        "formDescription": "=본 서비스는 공공데이터 제공 운영실태 평가 \n「1-4-2 공공데이터 민간·공공 활용 성과」 지표와 관련하여, \n민간·공공 활용 사례를 뉴스 데이터를 기반으로 자동 수집·추출하는 서비스입니다.\n\n아래 항목을 입력해 주세요.\n--------------------------------------------------------\n🔑 SerpAPI KEY 발급 방법\n1) https://serpapi.com 접속\n2) 무료 계정 생성 (월 100건 무료 제공)\n3) Dashboard에서 API Key 복사 후 입력\n--------------------------------------------------------",
        "formFields": {
          "values": [
            {
              "fieldLabel": "기관명",
              "placeholder": "예) 행정안전부",
              "requiredField": true
            },
            {
              "fieldLabel": "SerpAPI 키",
              "placeholder": "SerpAPI KEY",
              "requiredField": true
            },
            {
              "fieldLabel": "검색어",
              "placeholder": "예) 데이터, 활용, 서비스",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "aa78aaa9-3588-4f19-8c0e-113dbbb080f8",
      "name": "사용자 입력 폼",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.1,
      "position": [
        416,
        1584
      ],
      "webhookId": "414158c5-d65f-4422-a6f4-3fa15b883d0b",
      "notes": "사용자가 기관명, API 키, 검색 정보를 입력합니다"
    },
    {
      "parameters": {
        "content": "## 1. 데이터 입력\n### [입력 정보]\n1) 기관명\n2) SerpAPI KEY\n3) 키워드(예: 데이터, 활용, 서비스)",
        "height": 416,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        1360
      ],
      "id": "0b4881d3-7eeb-4d8c-b01e-7a8999562660",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 2. 뉴스 검색\n### [관련 정보]\n1) 검색 사이트 : 구글 뉴스\n2) 뉴스 개수 : 총40개\n- 한번에 10개씩 가져옴 * 4",
        "height": 416,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        1360
      ],
      "id": "42ff4237-ed9c-4a29-b0b8-6d3e7047585f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 3. 뉴스 필터링 및 저장\n### [관련 정보]\n1) 필터링 기준\n- 앱/웹 개발, 특허, (논문)\n- 평가편람 상의 기준 사용 -> 프롬프트에서 확인 가능\n- 실적 인정 기간 : 2025.9.1 ~ 2026.10.31(14개월)\n※ 2025년 평가편람의 날짜 기준(14개월)으로 설정, 2026년 평가편람 나올경우 해당 부분 수정 필요\n\n",
        "height": 416,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        1360
      ],
      "id": "828e77b5-e792-48d2-b5b0-77c52b0c1730",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 1. Google API 키 받는 방법:\n1) https://console.cloud.google.com 접속\n프로젝트 생성\n2) \"API 및 서비스\" → \"라이브러리\"\n3) \"Custom Search API\" 검색 후 사용 설정\n4) \"사용자 인증 정보\" → \"API 키 만들기\"\n5) 생성된 API 키 복사\n\n## 2. 검색 엔진 ID(cx) 받는 방법:\n1) https://programmablesearchengine.google.com 접속\n2) \"시작하기\" 또는 \"새 검색 엔진\"\n3) 검색할 사이트 설정 (전체 웹 검색 가능)\n4) 생성 후 \"검색 엔진 ID\" 복사\n\n## 3.SerpAPI 받는 방법(확정)\n1) https://serpapi.com 접속\n2) 무료 계정 생성 (매월 100건 무료)\n3) Dashboard에서 API 키 복사 ",
        "height": 464,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        816
      ],
      "id": "4ff10f35-8cbc-4cd8-bb39-27fd3851a9ab",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Google API 키\n- AIzaSyBnXyZ6yVlIxlN6HXNJWJrC1qjpCvob3bs\n## 검색 엔진  ID\n- f6be7dd9c495c447e\n\n## Serpapi 키\n- c584aa3b96498859a53d1495c98dd99d5700fdc2fa8fb784a34d33d395a7d041",
        "height": 256,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        1024
      ],
      "id": "a0243fe3-c602-4efa-b0ed-9aedcb7d5e70",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "page-001",
              "name": "startPositions",
              "value": "={{ [0, 10, 20, 30] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "4c5506c6-1383-4192-a592-022cf8bf0753",
      "name": "페이지 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        1584
      ],
      "notes": "3페이지 가져오기 (0, 10, 20)"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $('데이터 입력 설정1').item.json.agencyName }}, {{ $('데이터 입력 설정1').item.json.searchQuery }}"
            },
            {
              "name": "api_key",
              "value": "={{ $('데이터 입력 설정1').item.json.serpApiKey }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "start",
              "value": "={{ $json.start }}"
            },
            {
              "name": "gl",
              "value": "kr"
            },
            {
              "name": "hl",
              "value": "ko"
            },
            {
              "name": "tbm",
              "value": "nws"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        1584
      ],
      "id": "41bc4f95-f6e9-4a6d-bd9a-7d4b86fb0216",
      "name": "구글 검색 (페이지별)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=다음 검색 결과 목록을 검토하고, {{ $json.agencyName }} 기관의 민간 활용 사례로 적합한 항목만 필터링해주세요.\n\n검색 결과:\n{{ $json.searchResults }}\n\n검토 기준:\n\n1) 기관의 데이터를 활용한 사례이면서, 본인 기관({{ $json.agencyName }})의 사례가 아닌 경우:\n   - 민간 또는 타기관에서 {{ $json.agencyName }}의 데이터를 활용한 앱/웹 서비스 개발\n   - 특허 개발\n   - 논문 작성 사례\n   - {{ $json.agencyName }}는 데이터 제공 등의 지원 노력이 있어야 함\n\n2) 실적 인정 기간 내 포함 여부:\n   - 평가 기간: 2024년 9월 1일 ~ 2025년 10월 31일\n   - 앱/웹 서비스: 평가 시점에 미운영 시 인정 불가\n   - 특허: 출원, 등록일자 기준\n   - 논문: 승인, 출판일자 기준\n\n3) 뉴스 게시일 필터링 (필수):\n   - 반드시 뉴스 게시일이 2025년 9월 1일 ~ 2026년 10월 31일 사이인 기사만 포함하세요.\n   - 게시일이 없거나 불명확한 기사는 제외하세요.\n   - 게시일이 위 범위를 벗어난 기사는 반드시 제외하세요.\n\n4) 앱/웹 서비스 대국민 제공 여부 (필수):\n   - 사례 유형이 앱/웹인 경우, 현재 실제로 대국민에게 공개·서비스되고 있는 경우만 포함하세요.\n   - 개발 예정, 시범 운영, 내부 테스트, 베타 단계, 특정 기관·기업 내부용으로만 운영되는 서비스는 제외하세요.\n   - 누구나 접근 가능한 형태(앱스토어 출시, 웹사이트 공개 등)로 서비스 중인 경우만 인정하세요.\n   - 서비스 운영 여부가 불명확한 경우 제외하세요.\n\n5) 개인 프로젝트 제외 (필수):\n   - 사례 유형이 앱/웹인 경우, 기업·기관·단체 등 조직 단위에서 개발·운영하는 서비스만 인정하세요.\n   - 개인이 학습, 포트폴리오, 사이드 프로젝트, 해커톤 출품 등의 목적으로 제작한 서비스는 제외하세요.\n   - 개인 GitHub 저장소, 개인 블로그, 개인 웹사이트 형태로만 공개된 경우는 제외하세요.\n   - 개발 주체가 개인인지 조직인지 불명확한 경우 제외하세요.\n\n적합한 사례만 JSON 배열 형식으로 반환해주세요. 반드시 다음 형식을 따르세요:\n[\n  {\n    \"우수사례명\": \"사례 제목\",\n    \"우수사례_내용\": \"상세 설명 (어떤 서비스인지, 무엇을 했는지)\",\n    \"활용_데이터\": \"사용된 {{ $json.agencyName }} 데이터명\",\n    \"기관_지원_노력\": \"{{ $json.agencyName }}의 지원 내용\",\n    \"사례_유형\": \"앱/웹\", \"특허\", 또는 \"논문\" 중 하나,\n    \"날짜\": \"YYYY-MM-DD 형식\",\n    \"출처_URL\": \"원본 링크\"\n  }\n]\n중요: 적합한 사례가 없으면 빈 배열 []을 반환하세요. 개인 프로젝트, 대국민 미공개 서비스, 기간 외 사례는 반드시 제외하세요.",
        "options": {
          "systemMessage": "당신은 공공데이터 활용 우수사례를 평가하는 전문가입니다. 주어진 기준에 따라 정확하게 사례를 필터링하고 분류해주세요. 반드시 유효한 JSON 배열 형식으로만 응답하세요. 코드 블록(```)을 사용하지 마세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2208,
        1584
      ],
      "id": "dec95d2a-fcfc-48ff-9f6a-896ae5b42ed2",
      "name": "AI Agent 필터링"
    },
    {
      "parameters": {
        "jsCode": "// JSON 파싱1 - AI Agent 출력(여러 아이템)의 output을 전부 파싱해서 합치기\n// - 각 item.json.output 에 들어있는 \"문자열 JSON 배열\" 파싱\n// - ```json ...``` 코드펜스 제거\n// - JSON 외 잡문이 섞여도 첫 JSON 배열/객체를 브레이스 매칭으로 추출 시도\n// - 결과 0개여도 최소 1개 아이템을 반환해 No output 방지(옵션)\n\n// =======================\n// 유틸\n// =======================\nfunction asText(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'string') return v;\n  try { return JSON.stringify(v); } catch (e) { return String(v); }\n}\n\nfunction stripCodeFences(s) {\n  return String(s || '')\n    .replace(/```(?:json)?\\s*/gi, '')\n    .replace(/```/g, '')\n    .trim();\n}\n\n// 텍스트 안에서 첫 JSON 배열/객체를 브레이스/브라켓 매칭으로 뽑아냄\nfunction extractFirstJson(text) {\n  const s = String(text || '');\n  const startArr = s.indexOf('[');\n  const startObj = s.indexOf('{');\n\n  // 배열/객체 중 더 먼저 나오는 시작점 선택\n  let start = -1;\n  let mode = '';\n  if (startArr >= 0 && startObj >= 0) {\n    start = Math.min(startArr, startObj);\n    mode = (start === startArr) ? 'arr' : 'obj';\n  } else if (startArr >= 0) {\n    start = startArr; mode = 'arr';\n  } else if (startObj >= 0) {\n    start = startObj; mode = 'obj';\n  } else {\n    return '';\n  }\n\n  let depth = 0;\n  let inString = false;\n  let escape = false;\n\n  const openChar = (mode === 'arr') ? '[' : '{';\n  const closeChar = (mode === 'arr') ? ']' : '}';\n\n  for (let i = start; i < s.length; i++) {\n    const ch = s[i];\n\n    if (inString) {\n      if (escape) {\n        escape = false;\n      } else if (ch === '\\\\') {\n        escape = true;\n      } else if (ch === '\"') {\n        inString = false;\n      }\n      continue;\n    } else {\n      if (ch === '\"') {\n        inString = true;\n        continue;\n      }\n      if (ch === openChar) depth++;\n      if (ch === closeChar) depth--;\n\n      if (depth === 0 && i >= start) {\n        return s.slice(start, i + 1);\n      }\n    }\n  }\n\n  return '';\n}\n\nfunction tryParseJson(s) {\n  const t = stripCodeFences(asText(s)).trim();\n  if (!t) return null;\n\n  // 1) 그대로 JSON 파싱 시도\n  try { return JSON.parse(t); } catch (e) {}\n\n  // 2) 텍스트에서 첫 JSON 덩어리 추출 후 파싱\n  const extracted = extractFirstJson(t);\n  if (extracted) {\n    try { return JSON.parse(extracted); } catch (e) {}\n  }\n\n  return null;\n}\n\n// 중복 제거 키(출처_URL 우선, 없으면 우수사례명+날짜)\nfunction makeKey(o) {\n  const url = (o && o['출처_URL']) ? String(o['출처_URL']).trim() : '';\n  const name = (o && o['우수사례명']) ? String(o['우수사례명']).trim() : '';\n  const date = (o && o['날짜']) ? String(o['날짜']).trim() : '';\n  return url || `${name}__${date}`;\n}\n\n// =======================\n// 메인\n// =======================\nconst inputItems = $input.all();\nlet merged = [];\n\nfor (let idx = 0; idx < inputItems.length; idx++) {\n  const j = inputItems[idx].json || {};\n  const raw = j.output ?? j.text ?? j.result ?? j;\n\n  const parsed = tryParseJson(raw);\n\n  if (Array.isArray(parsed)) {\n    merged.push(...parsed);\n  } else if (parsed && typeof parsed === 'object') {\n    merged.push(parsed);\n  } else {\n    // 파싱 실패 시 스킵(원하면 로그)\n    console.log(`[JSON 파싱1] item ${idx}: parse failed`);\n  }\n}\n\n// 빈/이상치 제거(객체만 남김)\nmerged = merged.filter(v => v && typeof v === 'object' && !Array.isArray(v));\n\n// 중복 제거\nconst seen = new Set();\nconst uniq = [];\nfor (const o of merged) {\n  const k = makeKey(o);\n  if (!k) continue;\n  if (seen.has(k)) continue;\n  seen.add(k);\n  uniq.push(o);\n}\n\n// ✅ No output 방지: 결과가 0이면 더미 1개 내보내기(원치 않으면 이 블록 삭제)\nif (uniq.length === 0) {\n  return [{\n    json: {\n      _noResults: true,\n      기관명: $('데이터 입력 설정1').first().json.agencyName,\n      message: 'AI Agent 결과에서 적합 사례가 없거나 JSON 파싱에 실패했습니다.'\n    }\n  }];\n}\n\n// 각 항목을 개별 아이템으로 반환\nreturn uniq.map((item, index) => ({\n  json: {\n    일련번호: index + 1,\n    기관명: $('데이터 입력 설정1').first().json.agencyName,\n    ...item,\n  }\n}));"
      },
      "id": "53dbce53-d029-4cfc-8c1d-f562142e1d82",
      "name": "JSON 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        1584
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2208,
        1776
      ],
      "id": "cbee9ad5-ae32-4aec-aa0f-330b26b69478",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "jsCode": "// startPositions 배열을 아이템 목록으로 펼치기\nconst base = $input.first().json;\nconst starts = base.startPositions || [0, 10, 20, 30];\n\nreturn starts.map((s) => ({\n  json: {\n    ...base,\n    start: s,\n  },\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1584
      ],
      "id": "c1ec59cc-77a6-46ec-ab69-e32eb760111b",
      "name": "배열 정리"
    },
    {
      "parameters": {
        "jsCode": "// 모든 페이지 결과를 합쳐서 파싱\nconst allInputs = $input.all();  // ← first() → all() 로 변경\nconst allItems = [];\n\nfor (const input of allInputs) {\n  const serpResults = input.json;\n\n  const items = serpResults.organic_results\n    || serpResults.news_results\n    || serpResults.top_stories\n    || [];\n\n  console.log('결과 필드:',\n    serpResults.organic_results ? 'organic_results' :\n    serpResults.news_results ? 'news_results' :\n    serpResults.top_stories ? 'top_stories' : '없음'\n  );\n  console.log('이번 페이지 결과 수:', items.length);\n\n  for (const item of items) {\n    allItems.push({\n      json: {\n        title: item.title || '',\n        link: item.link || item.url || '',\n        snippet: item.snippet || item.description || '',\n        date: item.date || '',\n        source: '구글'\n      }\n    });\n  }\n}\n\nconsole.log('전체 합산 결과 수:', allItems.length);\nreturn allItems;"
      },
      "id": "ea3444c3-289a-43f4-af3a-70d7d58b99a5",
      "name": "구글 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "// 검색 결과에서 중복 제거\nconst items = $input.all();\nconst seen = new Set();\nconst uniqueItems = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // URL 또는 제목을 기준으로 중복 체크\n  const link = data.link || '';\n  const title = data.title || '';\n  \n  // URL이 있으면 URL로 중복 체크, 없으면 제목으로 체크\n  const identifier = link || title;\n  \n  if (identifier && !seen.has(identifier)) {\n    seen.add(identifier);\n    uniqueItems.push(item);\n  }\n}\n\nconsole.log(`전체 ${items.length}개 중 ${uniqueItems.length}개의 고유 결과 발견`);\nconsole.log(`${items.length - uniqueItems.length}개의 중복 제거됨`);\n\nreturn uniqueItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        1584
      ],
      "id": "b7b4c724-7cdf-4af7-a5a2-2e9ad79bd1bd",
      "name": "중복 제거"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parse-001",
              "name": "searchResults",
              "value": "={{ JSON.stringify($input.all().map(i => i.json)) }}",
              "type": "string"
            },
            {
              "id": "parse-002",
              "name": "agencyName",
              "value": "={{ $('데이터 입력 설정1').first().json.agencyName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b4e9cb22-c321-46c6-b52c-ed64172bf026",
      "name": "AI 입력 준비",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1984,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input-001",
              "name": "agencyName",
              "value": "={{ $json['기관명'] }}",
              "type": "string"
            },
            {
              "id": "input-003",
              "name": "searchQuery",
              "value": "={{ $json['검색어'] }}",
              "type": "string"
            },
            {
              "id": "input-004",
              "name": "serpApiKey",
              "value": "={{ $json['SerpAPI 키'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "702e5a0f-ee00-4c03-a189-a1c2054e5c01",
      "name": "데이터 입력 설정1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1584
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $json['기관명'] }}_민간활용 우수사례"
        }
      },
      "id": "d7cb557a-2404-4b01-9edc-fd66c5b14cf5",
      "name": "엑셀 파일 생성1",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2784,
        1584
      ]
    }
  ],
  "pinData": {
    "AI Agent 필터링1": [
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"카카오의 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 한국민족문화대백과사전 등 전문적인 한국학 데이터를 연동하고 학습시켜, AI 답변의 신뢰성을 높이고 서비스를 고도화함.\",\n    \"활용_데이터\": \"한국민족문화대백과사전 등 한국학 데이터\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU)을 체결하여 고품질의 한국학 데이터를 AI 학습용으로 제공 및 연동 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 내 한국학 데이터 탑재\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문적인 한국학 데이터를 연동하여 제공함으로써, AI 서비스의 한국 관련 지식 정확도와 깊이를 향상시키고 민간 기업의 AI 서비스 경쟁력 강화를 지원함.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터 전반\",\n    \"기관_지원_노력\": \"카카오와 데이터 활용 및 상호 협력을 위한 업무협약(MOU) 체결, 데이터 제공 파이프라인 구축 협의\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나'의 한국학 데이터 연계 및 활용\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 구축한 신뢰도 높은 한국학 데이터를 연계하여, AI가 생성하는 답변의 정확성을 높이고 할루시네이션(환각) 현상을 방지하는 데 활용함.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 전문 데이터(민족문화대백과사전 등)\",\n    \"기관_지원_노력\": \"민간 AI 서비스의 데이터 품질 향상을 위해 카카오와 업무협약(MOU)을 체결하고 검증된 데이터 제공 협력 추진\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"민간 플랫폼 기업 카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문 한국학 데이터를 연계 및 탑재하여 서비스의 신뢰도와 품질을 높이는 개발 협력 사례입니다.\",\n    \"활용_데이터\": \"한국학 데이터 (한국학중앙연구원 보유 전문 자료)\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU)을 체결하여 데이터 제공 및 AI 서비스 융합을 위한 상호 협력 기반 마련\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"민간 IT 기업인 카카오의 새로운 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문 한국학 데이터를 탑재하여, 사용자에게 신뢰도 높은 답변을 제공하는 AI 서비스 구축 추진\",\n    \"활용_데이터\": \"한국학중앙연구원 한국학 데이터(한국민족문화대백과사전 등)\",\n    \"기관_지원_노력\": \"카카오와 데이터 활용 및 서비스 구축을 위한 업무협약(MOU) 체결, 데이터 제공 협력\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  },\n  {\n    \"우수사례명\": \"한국학중앙연구원–국외소재문화유산재단, 자료 연계 검색 서비스 구축 협약\",\n    \"우수사례_내용\": \"국외소재문화유산재단이 운영하는 서비스와 한국학중앙연구원의 자료를 연계하여, 사용자가 양 기관의 데이터를 통합적으로 검색하고 활용할 수 있는 서비스 구축\",\n    \"활용_데이터\": \"한국학중앙연구원 소장 자료 및 DB\",\n    \"기관_지원_노력\": \"자료 연계 및 통합 검색 서비스 구현을 위한 업무협약(MOU) 체결\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-06-12\",\n    \"출처_URL\": \"https://v.daum.net/v/4119JhWAIZ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나'의 한국학 데이터 활용\",\n    \"우수사례_내용\": \"카카오의 AI 메이트 서비스 '카나나'에 한국학중앙연구원이 구축한 한국민족문화대백과사전 등의 전문 데이터를 연계하여, AI 생성 답변의 신뢰도를 높이고 한국학 지식 콘텐츠를 민간 플랫폼 서비스에 접목함\",\n    \"활용_데이터\": \"한국민족문화대백과사전 등 한국학 아카이브 데이터\",\n    \"기관_지원_노력\": \"민간 기업(카카오)과 업무협약(MOU)을 체결하여 데이터 공유 및 AI 서비스 연계를 위한 협력 기반 마련\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "```json\n[]\n```"
        }
      },
      {
        "json": {
          "output": "```json\n[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문적인 한국학 데이터를 연계 및 탑재하여, AI가 제공하는 정보의 신뢰도를 높이고 민간 플랫폼 서비스를 고도화하는 협력 사례임.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터 전반\",\n    \"기관_지원_노력\": \"민간 기업(카카오)과의 업무협약(MOU) 체결을 통해 공공데이터의 민간 플랫폼 탑재 및 활용을 적극 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]\n```"
        }
      },
      {
        "json": {
          "output": "```json\n[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 한국학 데이터 연계 및 활용\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문적인 한국학 데이터를 탑재하여, AI가 사용자에게 신뢰도 높은 한국학 지식과 답변을 제공할 수 있도록 서비스 활용 협력 추진.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 전문 데이터\",\n    \"기관_지원_노력\": \"카카오와의 업무협약(MOU) 체결을 통한 데이터 제공 및 민간 서비스 내 데이터 탑재 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]\n```"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 한국학 데이터 연계 협력\",\n    \"우수사례_내용\": \"민간 기업 카카오의 AI 서비스 '카나나'에 한국학중앙연구원의 전문 데이터를 탑재하여 AI 답변의 신뢰성과 깊이를 향상시키기 위한 데이터 활용 협력 추진\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 전문 데이터\",\n    \"기관_지원_노력\": \"카카오와의 업무협약(MOU) 체결 및 AI 학습용 데이터 제공 협력 체계 구축\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  },\n  {\n    \"우수사례명\": \"국외소재문화유산재단 자료 연계 검색 서비스 구축\",\n    \"우수사례_내용\": \"타 기관(국외소재문화유산재단)과의 협력을 통해 양 기관의 데이터를 연계, 한국학자료통합플랫폼 내에서 국외 소재 문화유산 아카이브 자료를 즉시 검색하고 열람할 수 있도록 서비스 기능 확장\",\n    \"활용_데이터\": \"한국학자료통합플랫폼 연계 데이터\",\n    \"기관_지원_노력\": \"데이터 연계 검색 서비스 구축을 위한 업무협약 체결 및 API 기술 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-06-12\",\n    \"출처_URL\": \"https://v.daum.net/v/4119JhWAIZ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나'의 한국학 데이터 활용 협약\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 신뢰도 높은 한국학 데이터를 탑재하여, AI가 한국 역사와 문화에 대해 정확하고 깊이 있는 답변을 제공할 수 있도록 서비스를 구축 및 연동함.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 아카이브 및 전문 데이터\",\n    \"기관_지원_노력\": \"민간 AI 서비스의 데이터 신뢰성 확보를 위해 카카오와 업무협약(MOU)을 체결하고, 고품질의 한국학 데이터를 AI 학습용으로 제공 및 상호 협력체계 구축\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 내 한국학 데이터 연계 및 활용\",\n    \"우수사례_내용\": \"카카오의 새로운 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 신뢰도 높은 한국학 데이터를 연계하여 AI 학습 및 대국민 서비스에 활용하도록 추진함. 민간 플랫폼을 통해 전문적인 한국학 지식의 접근성을 높인 사례임.\",\n    \"활용_데이터\": \"한국학 연구 성과 및 아카이브 데이터 (한국민족문화대백과사전 등)\",\n    \"기관_지원_노력\": \"민간 기업(카카오)의 AI 서비스 고도화를 위해 양질의 한국학 데이터를 제공하고 상호 협력을 위한 업무협약(MOU)을 체결함\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"카카오의 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 한국민족문화대백과사전 등 전문적인 한국학 데이터를 탑재 및 연동하여, AI 답변의 신뢰도를 높이고 정확한 한국학 지식을 제공하는 서비스 협력 사례임.\",\n    \"활용_데이터\": \"한국민족문화대백과사전 등 한국학 데이터\",\n    \"기관_지원_노력\": \"민간 기업(카카오)의 AI 서비스 개발을 위해 전문적인 한국학 데이터를 제공하고, 데이터 연동을 위한 업무 협약(MOU)을 체결함\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 내 한국학 데이터 연계 및 활용\",\n    \"우수사례_내용\": \"카카오의 새로운 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문적인 한국학 데이터를 탑재하여, AI가 이용자에게 정확하고 깊이 있는 한국학 지식을 제공할 수 있도록 서비스 기능을 강화함.\",\n    \"활용_데이터\": \"한국민족문화대백과사전 등 한국학중앙연구원 보유 한국학 데이터\",\n    \"기관_지원_노력\": \"민간 기업(카카오)과의 업무협약(MOU) 체결을 통해 공공데이터를 민간 AI 서비스 학습 및 답변 생성에 활용할 수 있도록 데이터 제공 및 기술 협력을 지원함.\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나'의 한국학 데이터 연계 및 활용\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문적인 한국학 데이터를 탑재하여, AI 서비스의 콘텐츠 신뢰성을 높이고 사용자에게 풍부한 한국학 지식을 제공하는 서비스 기반을 마련함.\",\n    \"활용_데이터\": \"한국학 데이터\",\n    \"기관_지원_노력\": \"민간 플랫폼(카카오)과의 업무협약(MOU) 체결을 통해 데이터 연계 및 활용을 위한 행정적·기술적 지원 수행\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 한국학 데이터 탑재 협력\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 한국민족문화대백과사전 등 전문적인 한국학 데이터를 연동하여, AI 답변의 신뢰성을 높이고 한국학 지식의 대중적 활용을 확대하기 위한 데이터 활용 협약 및 서비스 적용 추진\",\n    \"활용_데이터\": \"한국민족문화대백과사전 등 한국학 기초 데이터\",\n    \"기관_지원_노력\": \"민간 기업(카카오)과의 전략적 업무협약(MOU) 체결을 통한 고품질 데이터 제공 및 기술 협력 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  },\n  {\n    \"우수사례명\": \"국외소재문화유산재단 자료 연계 검색 서비스 구축\",\n    \"우수사례_내용\": \"국외소재문화유산재단과 협력하여 양 기관이 보유한 자료를 연계함으로써, 사용자가 별도의 플랫폼 이동 없이 국외 소재 문화유산 관련 한국학 자료를 통합 검색하고 열람할 수 있는 서비스 환경 구축\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 아카이브 및 연구 자료\",\n    \"기관_지원_노력\": \"타 공공기관(국외소재문화유산재단)과의 자료 연계 및 공유를 위한 업무협약 체결 및 API/데이터 연동 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-06-12\",\n    \"출처_URL\": \"https://v.daum.net/v/4119JhWAIZ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나'의 한국학 데이터 접목\",\n    \"우수사례_내용\": \"민간 기업인 카카오가 한국학중앙연구원과 협력하여 자사의 AI 서비스 '카나나'에 신뢰도 높은 한국학 데이터를 탑재하고 서비스에 활용함.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU) 체결 및 AI 학습 및 서비스 활용을 위한 데이터 제공 협력\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  },\n  {\n    \"우수사례명\": \"국외소재문화유산재단 자료 연계 검색 서비스 구축\",\n    \"우수사례_내용\": \"국외소재문화유산재단이 한국학중앙연구원과 협력하여 양 기관의 자료를 연계하고 이를 통합 검색할 수 있는 서비스를 구축함.\",\n    \"활용_데이터\": \"한국학중앙연구원 학술 및 연구 자료\",\n    \"기관_지원_노력\": \"자료 연계 검색 서비스 구축을 위한 업무협약 체결 및 데이터 연계 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-06-12\",\n    \"출처_URL\": \"https://v.daum.net/v/4119JhWAIZ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 탑재 (한국학중앙연구원-카카오 협력)\",\n    \"우수사례_내용\": \"카카오의 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 한국학 데이터를 연계 및 탑재하여, AI 서비스의 한국학 관련 답변 품질을 높이고 대중적인 활용도를 제고함.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU) 체결을 통한 데이터 제공 및 기술 협력 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 내 한국학 데이터 탑재 및 활용 협력\",\n    \"우수사례_내용\": \"민간 기업 카카오가 개발하는 AI 서비스 '카나나'에 한국학중앙연구원의 전문적인 한국학 데이터를 연계하여, AI가 한국 역사와 문화에 대해 신뢰도 높은 정보를 제공할 수 있도록 서비스 구축 및 고도화 추진 (업무협약 기반 민간 서비스 융합 사례)\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 원천 데이터 (한국민족문화대백과사전, 한국학자료통합플랫폼 데이터 등)\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU)을 체결하여 공공보유 전문 데이터를 민간 AI 플랫폼에 제공하고, 데이터 연계 및 활용을 위한 기술적·행정적 협력 체계 구축\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"카카오의 AI 서비스 '카나나'에 한국학중앙연구원의 한국학 데이터를 탑재하여 AI 답변의 할루시네이션(환각) 현상을 줄이고 신뢰도를 높이는 서비스 협력 사례입니다.\",\n    \"활용_데이터\": \"한국민족문화대백과사전 등 한국학 관련 데이터\",\n    \"기관_지원_노력\": \"데이터 제공 및 기술 협력을 위한 업무협약(MOU) 체결\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 구축한 전문 데이터를 연동하여, AI가 제공하는 답변의 신뢰도와 정확성을 높이는 서비스 개발 협력. 카카오의 기술력과 한중연의 전문 지식을 결합한 사례임.\",\n    \"활용_데이터\": \"한국민족문화대백과사전, 한국향토문화전자대전 등 한국학 데이터\",\n    \"기관_지원_노력\": \"카카오의 AI 서비스 구축을 위해 한국학중앙연구원이 보유한 방대한 디지털 아카이브 자료를 제공하고 활용을 위한 업무 협약을 체결함.\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 한국학 데이터 연계\",\n    \"우수사례_내용\": \"카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 신뢰도 높은 한국학 데이터를 탑재하여, AI가 한국의 역사와 문화에 대해 정확한 답변을 제공할 수 있도록 서비스 기능 강화 및 상호 협력 추진\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 원천 데이터\",\n    \"기관_지원_노력\": \"민간 기업(카카오)의 AI 서비스 개발을 위해 업무협약(MOU)을 체결하고, 고품질의 한국학 데이터를 제공하여 데이터 학습 및 서비스 연계를 지원함\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  },\n  {\n    \"우수사례명\": \"국외소재문화유산재단 자료 연계 검색 서비스 구축\",\n    \"우수사례_내용\": \"국외소재문화유산재단의 정보 플랫폼과 한국학중앙연구원의 자료를 연계하여, 이용자가 국외 소재 문화유산과 관련된 심층적인 한국학 자료를 통합적으로 검색하고 활용할 수 있는 서비스 환경 구축\",\n    \"활용_데이터\": \"한국학중앙연구원 학술 및 아카이브 자료\",\n    \"기관_지원_노력\": \"타 공공기관(국외소재문화유산재단)과 업무협약을 체결하여 자료 공유 파이프라인을 마련하고, 통합 검색 서비스 구현을 위한 데이터 연계를 지원함\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-06-12\",\n    \"출처_URL\": \"https://v.daum.net/v/4119JhWAIZ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나'의 한국학 데이터 연계 및 활용\",\n    \"우수사례_내용\": \"민간 기업인 카카오가 신규 출시하는 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 신뢰도 높은 한국학 데이터를 탑재하여, AI가 생성하는 답변의 정확성을 높이고 사용자에게 전문적인 한국학 지식을 제공하는 서비스 개발 추진\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터\",\n    \"기관_지원_노력\": \"민간 기업(카카오)과 데이터 제공 및 기술 협력을 위한 업무협약(MOU) 체결\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 내 한국학 데이터 탑재 및 활용 협력\",\n    \"우수사례_내용\": \"한국학중앙연구원은 카카오와 업무협약을 체결하여, 카카오의 신규 AI 서비스 '카나나'에 신뢰도 높은 한국학 지식 데이터를 연계 및 탑재함. 이를 통해 민간 AI 서비스가 한국의 역사, 문화, 문학 등에 대해 할루시네이션(환각) 없이 정확하고 전문적인 답변을 제공할 수 있도록 서비스 고도화를 지원함.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 학술 및 지식 데이터 (한국민족문화대백과사전 등)\",\n    \"기관_지원_노력\": \"민간 AI 플랫폼의 학습 및 서비스 제공을 위한 데이터 제공 업무협약(MOU) 체결(2025.04.21) 및 데이터 API 연계 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 내 한국학 데이터 탑재 및 활용\",\n    \"우수사례_내용\": \"카카오의 새로운 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 방대한 한국학 데이터를 연계하여, AI가 한국 역사와 문화를 학습하고 사용자에게 정확한 답변을 제공할 수 있도록 서비스 구축 협력.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU)을 체결하여 양질의 한국학 데이터를 민간 플랫폼에 제공 및 연계 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"카카오의 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 전문적인 한국학 데이터를 연동하여 AI의 답변 신뢰도를 높이고 할루시네이션(환각) 현상을 방지하는 서비스 협력 추진. 민간 기업의 AI 플랫폼에 공공의 고품질 데이터를 접목하여 활용성을 높인 사례.\",\n    \"활용_데이터\": \"한국학 전통 문화 데이터 및 아카이브 자료\",\n    \"기관_지원_노력\": \"카카오와 업무협약을 체결하여 데이터 제공 및 디지털 전환 협력 추진\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 한국학 데이터 연계 및 활용\",\n    \"우수사례_내용\": \"한국학중앙연구원과 카카오가 업무협약을 맺고, 카카오의 신규 AI 서비스 '카나나'에 한국학중앙연구원의 한국학 데이터를 탑재하여 대화형 AI 등에서 전문 지식을 활용할 수 있도록 서비스 개발 협력 추진\",\n    \"활용_데이터\": \"한국학 데이터\",\n    \"기관_지원_노력\": \"민간 기업(카카오)의 AI 서비스 내 데이터 활용을 위한 업무협약(MOU) 체결 및 데이터 제공 협력\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  },\n  {\n    \"우수사례명\": \"국외소재문화유산재단 자료 연계 검색 서비스 구축\",\n    \"우수사례_내용\": \"타 공공기관인 국외소재문화유산재단과 협력하여, 한국학중앙연구원의 자료를 재단의 시스템과 연계하고 통합 검색할 수 있는 서비스를 구축하기로 함\",\n    \"활용_데이터\": \"한국학중앙연구원 소장 자료 및 아카이브 데이터\",\n    \"기관_지원_노력\": \"타 기관과의 데이터 연계 및 통합 검색 서비스 구축을 위한 업무협약 체결\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-06-12\",\n    \"출처_URL\": \"https://v.daum.net/v/4119JhWAIZ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "[\n  {\n    \"우수사례명\": \"'카나나'에 한국학 데이터 담는다…한국학중앙연구원-카카오 MOU\",\n    \"우수사례_내용\": \"카카오의 인공지능(AI) 서비스 '카나나'에 한국학중앙연구원이 보유한 전문적인 한국학 데이터를 연계하여 AI가 생성하는 답변의 신뢰도를 높이고, 민간 플랫폼을 통해 한국학 자료의 접근성을 확장하는 서비스 협력 추진.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터 및 콘텐츠\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU)을 체결하여 데이터 제공 및 AI 기술 접목을 위한 상호 협력 체계 구축\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]"
        }
      },
      {
        "json": {
          "output": "```json\n[\n  {\n    \"우수사례명\": \"카카오 AI 서비스 '카나나' 한국학 데이터 탑재 및 활용\",\n    \"우수사례_내용\": \"민간 기업인 카카오가 자사의 신규 AI 서비스 '카나나'에 한국학중앙연구원이 보유한 한국학 데이터를 연계하여 탑재함으로써, AI 서비스의 고도화를 추진하고 한국학 자료의 민간 활용 범위를 확장함.\",\n    \"활용_데이터\": \"한국학중앙연구원 보유 한국학 데이터\",\n    \"기관_지원_노력\": \"카카오와 업무협약(MOU)을 체결하여 데이터 제공 및 기술 연계 협력 지원\",\n    \"사례_유형\": \"앱/웹\",\n    \"날짜\": \"2025-04-21\",\n    \"출처_URL\": \"https://v.daum.net/v/Z0QOmrCnjQ?f=p\"\n  }\n]\n```"
        }
      }
    ],
    "사용자 입력 폼": [
      {
        "json": {
          "기관명": "한국산업인력공단",
          "SerpAPI 키": "c584aa3b96498859a53d1495c98dd99d5700fdc2fa8fb784a34d33d395a7d041",
          "검색어": "데이터, 활용, 서비스",
          "submittedAt": "2026-03-31T11:06:01.573+09:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "페이지 설정1": {
      "main": [
        [
          {
            "node": "배열 정리1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "구글 검색 (페이지별)1": {
      "main": [
        [
          {
            "node": "구글 결과 파싱1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 필터링1": {
      "main": [
        [
          {
            "node": "JSON 파싱1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 필터링1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "배열 정리1": {
      "main": [
        [
          {
            "node": "구글 검색 (페이지별)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "구글 결과 파싱1": {
      "main": [
        [
          {
            "node": "중복 제거1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복 제거1": {
      "main": [
        [
          {
            "node": "AI 입력 준비1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 입력 준비1": {
      "main": [
        [
          {
            "node": "AI Agent 필터링1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 입력 설정": {
      "main": [
        [
          {
            "node": "페이지 설정1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON 파싱1": {
      "main": [
        [
          {
            "node": "엑셀 파일 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "데이터 입력 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "결과 준비": {
      "main": [
        [
          {
            "node": "파일 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 업로드": {
      "main": [
        [
          {
            "node": "콜백 전송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "엑셀 파일 생성": {
      "main": [
        [
          {
            "node": "결과 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "사용자 입력 폼": {
      "main": [
        [
          {
            "node": "데이터 입력 설정1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "페이지 설정": {
      "main": [
        [
          {
            "node": "배열 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "구글 검색 (페이지별)": {
      "main": [
        [
          {
            "node": "구글 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent 필터링": {
      "main": [
        [
          {
            "node": "JSON 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON 파싱": {
      "main": [
        [
          {
            "node": "엑셀 파일 생성1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent 필터링",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "배열 정리": {
      "main": [
        [
          {
            "node": "구글 검색 (페이지별)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "구글 결과 파싱": {
      "main": [
        [
          {
            "node": "중복 제거",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "중복 제거": {
      "main": [
        [
          {
            "node": "AI 입력 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 입력 준비": {
      "main": [
        [
          {
            "node": "AI Agent 필터링",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "데이터 입력 설정1": {
      "main": [
        [
          {
            "node": "페이지 설정",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8e051d22-ee86-4228-b499-1fbae812d536",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c5f95e2856792afb4cb6b3c219708d546ea9cd357650e1e624ba9066377ac0"
  },
  "id": "VpdGsavw8TZeXUTe",
  "tags": []
}